<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Graphics-Card/Style/Add-graphics-card.css">
    <title>Enter Graphics Card Information</title>
</head>

<body>
    <div class="form-container">
        <form action="/add-graphics-card" method="post" enctype="multipart/form-data" id="ramForm">
            <div class="form-section">
                <h2>Enter Graphics Card Information</h2>
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" required>
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required>
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type" required>
                </div>
                <div class="form-group">
                    <label for="size">Size:</label>
                    <input type="text" id="size" name="size" required>
                </div>
                <div class="form-group">
                    <label for="resolution">Resolution:</label>
                    <input type="text" id="resolution" name="resolution" required>
                </div>
                <div class="form-group">
                    <label for="boost_clock">Boost Clock:</label>
                    <input type="text" id="boost_clock" name="boost_clock" required>
                </div>
                <div class="form-group">
                    <label for="game_clock">Game Clock:</label>
                    <input type="text" id="game_clock" name="game_clock" required>
                </div>
                <div class="form-group">
                    <label for="memory_clock">Memory Clock:</label>
                    <input type="text" id="memory_clock" name="memory_clock" required>
                </div>
                <div class="form-group">
                    <label for="bus_type">Bus Type:</label>
                    <input type="text" id="bus_type" name="bus_type" required>
                </div>
                <div class="form-group">
                    <label for="memory_interface">Memory Interface:</label>
                    <input type="text" id="memory_interface" name="memory_interface" required>
                </div>
                <div class="form-group">
                    <label for="stream_processors">Stream Processors:</label>
                    <input type="text" id="stream_processors" name="stream_processors" required>
                </div>
                <div class="form-group">
                    <label for="display_port">Display Port:</label>
                    <input type="text" id="display_port" name="display_port" required>
                </div>
                <div class="form-group">
                    <label for="hdmi">HDMI:</label>
                    <input type="text" id="hdmi" name="hdmi" required>
                </div>
                <div class="form-group">
                    <label for="connectors">Connectors:</label>
                    <input type="text" id="connectors" name="connectors" required>
                </div>
                <div class="form-group">
                    <label for="recommended_psu">Recommended PSU:</label>
                    <input type="text" id="recommended_psu" name="recommended_psu" required>
                </div>
                <div class="form-group">
                    <label for="consumption">Consumption:</label>
                    <input type="text" id="consumption" name="consumption" required>
                </div>
                <div class="form-group">
                    <label for="multi_display">Multi Display:</label>
                    <input type="text" id="multi_display" name="multi_display" required>
                </div>
                <div class="form-group">
                    <label for="directX">DirectX:</label>
                    <input type="text" id="directX" name="directX" required>
                </div>
                <div class="form-group">
                    <label for="dimension">Dimension:</label>
                    <input type="text" id="dimension" name="dimensions" required>
                </div>
                <div class="form-group">
                    <label for="others">Others:</label>
                    <input type="text" id="others" name="others" required>
                </div>
                <div class="form-group">
                    <label for="warranty">Warranty:</label>
                    <input type="text" id="warranty" name="warranty" required>
                </div>
                <div class="form-group">
                    <label for="cut-price">Cut price (Optional):</label>
                    <input type="text" id="cut_price" name="cut_price">
                </div>
                <div class="form-group">
                    <label for="final_price">Final Price:</label>
                    <input type="text" id="final_price" name="final_price" required>
                </div>
                <div class="form-group">
                    <label for="productImage">Product Image:</label>
                    <input type="file" id="productImage" name="productImage" required>
                </div>
            </div>

            <div class="form-section">
                <h2>Enter Additional Information</h2>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="submitButton">Add Graphics Card</button>
            </div>
            <div class="error" style="color: red; font-size: 0.9em;" id="errorMessages"></div>
            <div  style="color: red; font-size: 0.9em;" id="errorMessagess"></div>
        </form>
        </form>
    </div>

    <script>

        function validateForm() {
            const errorDiv = document.getElementById('errorMessages');
            const error = document.querySelector('#errorMessagess');
            const submitButton = document.getElementById('submitButton');
            error.innerHTML = '';  // Clear previous error messages
            let errors = [];
    
            const form = document.getElementById('ramForm');
            const inputs = form.querySelectorAll('input[required], textarea[required]');
    
            inputs.forEach(input => {
                if (!input.value.trim()) {
                    const label = form.querySelector(`label[for="${input.id}"]`).innerText;
                    errors.push(`${label} is required.`);
                }
            });
    
            // Check if the price is a valid number after removing commas
            const priceInput = document.getElementById('price');
            const cut_priceInput = document.getElementById('cut_price');
            const cut_priceValue = cut_priceInput.value.replace(/,/g, '');
            const priceValue = priceInput.value.replace(/,/g, '');
    
            if (cut_priceInput.value.length > 0) {
                if (isNaN(cut_priceValue)) {
                    errors.push('Cut Price must be a valid number.');
                } else if (Number(priceValue) > Number(cut_priceValue)) {
                    errors.push('Cut Price must be greater than or equal to Price.');
                }
            }
    
            if (priceValue && isNaN(priceValue)) {
                errors.push('Price must be a valid number.');
            }
    
            // Update the error messages div
            errorDiv.innerHTML = errors.join('<br>');
            error.innerHTML = errors.join('<br>');
    
            // Enable or disable the submit button based on the presence of errors
            if (errors.length > 0) {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }
    
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('ramForm');
    
            form.addEventListener('input', validateForm);
        });
    </script>
</body>

</html>
