<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Pc/Style/Add-pc-items.css">
    <title>Enter PC Information's</title>
</head>

<body>
    <div class="form-container">
        <form action="/add-pc" method="post" enctype="multipart/form-data">
            <div class="form-section">
                <h2>Enter Pc Specifications</h2>
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <input type="text" id="brand" name="brand" required>
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" id="category" name="category" required>
                </div>
                <div class="form-group">
                    <label for="processor">Processor:</label>
                    <input type="text" id="processor" name="processor" required>
                </div>
                <div class="form-group">
                    <label for="processorWarranty">Processor Warranty:</label>
                    <input type="text" id="processorWarranty" name="processorWarranty" required> 
                </div>
                <div class="form-group">
                    <label for="motherboard">Motherboard:</label>
                    <input type="text" id="motherboard" name="motherboard" required>
                </div>
                <div class="form-group">
                    <label for="motherboardWarranty">Motherboard Warranty:</label>
                    <input type="text" id="motherboardWarranty" name="motherboardWarranty" required>
                </div>
                <div class="form-group">
                    <label for="ram">RAM:</label>
                    <input type="text" id="ram" name="ram" required>
                </div>
                <div class="form-group">
                    <label for="ramWarranty">RAM Warranty:</label>
                    <input type="text" id="ramWarranty" name="ramWarranty" required>
                </div>
                <div class="form-group">
                    <label for="storage">Storage:</label>
                    <input type="text" id="storage" name="storage" required>
                </div>
                <div class="form-group">
                    <label for="storageWarranty">Storage Warranty:</label>
                    <input type="text" id="storageWarranty" name="storageWarranty" required>
                </div>
                <div class="form-group">
                    <label for="casing">Casing:</label>
                    <input type="text" id="casing" name="casing" required>
                </div>
                <div class="form-group">
                    <label for="casingWarranty">Casing Warranty:</label>
                    <input type="text" id="casingWarranty" name="casingWarranty" required>
                </div>
                <div class="form-group">
                    <label for="cut-price">Cut price (Optional):</label>
                    <input type="text" id="cut_price" name="cut_price" >
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" required>
                </div>
                <div class="form-group">
                    <label for="productImage">Product Image:</label>
                    <input type="file" id="productImage" name="productImage" required>
                </div>
            </div>

            <div class="form-section">
                <h2>Enter Basic Information</h2>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4"></textarea required>
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Add Item</button>
            </div>
        </form>

    </div>
</body>

</html>