<!-- adminLogin.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./adminLogIn.css" />
    <title>Admin Login</title>
</head>

<body>

    <div class="main-form">
        <div class="div" id="p-for-incorrect-information">
            <p>
                <sup>*</sup>Your Admin name Or password is incorrect. Please try again.
            </p>
        </div>

        <div class="log-in-admin">
            <h3>Log in as Admin</h3>
        </div>
        <div class="login-container">
            <form action="/adminLogIn" method="post" onsubmit=" event.preventDefault(); logIn();">
                <div class="admin-name box-style" >
                    <label for="adminName">Admin Name</label>
                <input type="text" id="adminName" name="adminName" placeholder="Admin" required />
                </div>

                <div class="admin-password box-style">
                    <label for="adminPassword">Admin Password:</label>
                <input type="password" id="adminPassword" name="adminPassword" placeholder="Password" required />
                <span class="toggle-password" onclick="togglePassword()">Show Password</span>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./adminLogIn.js"></script>

</body>

</html>