<!-- login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./logIn.css" />
  <title>LogIn</title>
</head>

<body>
  <div class="main-form">
    <div class="div" id="p-for-incorrect-information">
      <p>
        <sup>*</sup>Your email Or password is incorrect. Please try again.
      </p>
    </div>
    <div class="login-container">
      <div class="account-login">
        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: #333">Account Login</h3>
      </div>
      <form action="/logIn" method="post" onsubmit=" event.preventDefault(); logIn();">
        <div class="email box-style">
          <label for="email">E-Mail</label>
          <input type="email" id="email" name="email" placeholder="E-Mail" required />
        </div>
        <div class="password box-style">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" name="password" required />
          <span class="toggle-password" onclick="togglePassword()">Show Password</span>
        </div>
        <div class="log-in box-style" style="margin-top: 10px;">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./logIn.js"></script>
</body>

</html>