body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.purchase {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #729bc7;
}

form {
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
}

form input[type="date"],
form button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #347ece;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 20px; 
}


th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #007bff;
    font-family: 'Times New Roman', Times, serif;
}
