*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.full-outer-div{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.full-outer-div > div{
    margin: 5px;
    background-color: rgb(204, 249, 255);
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 2px black;
    
}

.views, .add-product, .answer-log-out{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;

}


.views > div, .answer-log-out > div{
    padding: 15px;
    background-color: rgb(157, 238, 238);
    margin: 10px;
    border-radius: 5px;
}

.add-product > div{
    background-color: rgb(194, 231, 156);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

a, .logOut{
    text-decoration: none;
    color: rgb(97, 123, 148);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


.Hover:hover{
    background-color: rgb(83, 182, 185);
    color: rgb(213, 220, 226);
}