<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Gallery || Ram Specifications</title>
    <link rel="stylesheet" href="/Desktop-View.css">
</head>

<body>
    <div class="main-view">
        <div class="upper-content">

            <div class="image-name-dives-features-view-mores">
                <div class="ram-image">
                    <div class="product-image"
                        style="background-image: url('/Images/Ram/1713603094900-xlr8-01-500x500.jpg')"></div>
                </div>

                <div class="name-dives-features-view-mores">
                    <div class="name">
                        <h2>Netac Basic DDR3 4GB 1600MHZ Desktop RAM</h3>
                    </div>
                    <div class="prices-and-brand">
                        <div class="price"><span></span>Price: <span class="bold">1,500৳</span></div>
                        <div class="regular-price"><span>Regular Price: <span class="bold">1,650৳</span></span></div>
                        <div class="brand"><span>Brand: <span class="bold">Netac</span></span></div>
                    </div>
                    <div class="key-features">

                        <ul style="font-family:'Times New Roman', Times, serif;">
                            <li>
                                <h3 style="font-family: 'Times New Roman', Times, serif;">Key Features</h3>
                            </li>
                            <li>Model: Basic DDR3</li>
                            <li>Capacity: 4GB</li>
                            <li>Frequency: DDR3 1600MHz</li>
                            <li>Form Factor: 240-Pin UDIMM</li>
                            <li>Voltage & Cas Latency: 1.5V/11-11-11-28</li>
                            <li>
                                <h4><a href="#four-div" style="color: rgb(218, 77, 52);">View More Info</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="buy-now-option">
                <div class="quantity">
                    <div class="minus-button">-</div>
                    <div class="amount">1</div>
                    <div class="plus-button">+</div>
                </div>
                <div class="Buy-now-Button">
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>



        <div class="four-div" id="four-div">
            <div class="specification_"><a href="#specification" class="div1">Specification</a></div>
            <div class="description"><a href="#description" class="div">Description</a></div>
            <div class="question"><a href="#questions" class="div">Question(0)</a></div>
            <div class="reviews"><a href="#reviews" class="div">Reviews(0)</a></div>
        </div>
        <div class="specification" id="specification">
            <div class="inner-specification">
                <div class="specification-head">
                    <h2>Specification</h2>
                </div>
                <div class="key-features">
                    <div class="key-features-head features-head">
                        <h4>Key Features</h4>
                    </div>
                    <div class="type display-flex">
                        <h4 class="grey-color font-set">Type</h4>
                        <h4 class="normal-color">DDR3</h4>
                    </div>
                    <hr class="hr">
                    <div class="capacity display-flex">
                        <h4 class="grey-color font-set">Capacity</h4>
                        <h4 class="normal-color">4GB</h4>
                    </div>
                    <hr class="hr">
                    <div class="frequency display-flex">
                        <h4 class="grey-color font-set">Frequency</h4>
                        <h4 class="normal-color">1600MHZ</h4>
                    </div>
                    <hr class="hr">
                    <div class="operating-voltage display-flex">
                        <h4 class="grey-color font-set">Operating voltage</h4>
                        <h4 class="normal-color">1.5V</h4>
                    </div>
                    <hr class="hr">
                    <div class="latency display-flex">
                        <h4 class="grey-color font-set">Latency</h4>
                        <h4 class="normal-color">11-11-11-28</h4>
                    </div>
                    <hr class="hr">
                </div>
                <div class="physical-dimension">
                    <div class="physical-dimension-head features-head">
                        <h3>Physical dimension </h3>
                    </div>
                    <div class="pin display-flex">
                        <h4 class="grey-color font-set">Pin</h4>
                        <h4 class="normal-color">240-Pins</h4>
                    </div>
                    <hr class="hr">
                </div>
                <div class="warranty-information">
                    <div class="warranty-information-head features-head">
                        <h3>Warranty Information</h3>
                    </div>
                    <div class="warranty display-flex">
                        <h4 class="grey-color font-set">Warranty</h4>
                        <h4 class="normal-color">Lifetime Warranty</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="description" id="description">
            <div class="description-head">
                <h2>Description</h2>
            </div>
            <div class="product-model-name">
                <h2>Netac Basic DDR3 4GB 1600MHZ Desktop RAM</h2>
            </div>
            <div class="main-description">
                <h4>The Netac Basic DDR3 4GB 1600MHZ Desktop RAM is a high-speed memory module that utilizes DDR3 SDRAM
                    devices for low-power consumption. This Unbuffered DDR3 SDRAM DIMM has a 240-pin design with gold
                    contact fingers, and its SPD is programmed to JEDEC standard latency DDR3-1600 timing of 11-11-11 at
                    1.5V. The RAM is equipped with 8 independent internal banks and an 8-bit pre-fetch for fast and
                    efficient data transfer. It also features programmable CAS Latency and Additive Latency, which can
                    be set to values ranging from 6 to 11. The Burst Length can be set to 8 or 4, and it has a
                    bi-directional differential data strobe. This Unbuffered DIMM is intended for use as the main memory
                    in systems such as PCs. It has a PCB height of 1.18" (30mm) and is RoHS-compliant and halogen-free.
                    The RAM also features on-die termination using an ODT pin, internal self-calibration through a ZQ
                    pin, and adjustable data-output drive strength. The average refresh period of the Netac Basic DDR3
                    4GB 1600MHZ Desktop RAM is 7.8us at lower than TCASE 85°C and 3.9us at 85°C < TCASE < 95°C, with
                        asynchronous reset and fly-by topology. It has a power supply of VDD=1.5V (1.425V to 1.575V) and
                        VDDQ=1.5V (1.425V to 1.575V) and supports 800MHz fCK for 1600Mb/sec/pin.</h4>
            </div>
        </div>
        <div class="questions" id="questions">
            <div class="inner-number-text-button">
                <div class="number-text-button">
                    <div class="number-and-text">
                        <div class="number-of-questions" style="border-bottom: 10px; margin-bottom: 10px;">
                            <h3>Questions (0)</h3>
                        </div>
                        <div class="question-tests">
                            <h5 class="normal-color">Have question about this product? Get specific details about this
                                product from expert.
                            </h5>
                        </div>
                    </div>
                    <div class="ask-button ">
                        <form action="/Ask-Question/Ram">
                            <input type="text" name="ram_id" id="ram_id" value="3" hidden>
                            <button type="submit" class="ask-and-review-button">Ask Question</button>
                        </form>
                    </div>
                </div>
                <hr class="hr">
                <div class="empty-div">
                    <div class="message-logo" style="margin: 20px 0px 20px 0px;"><span class="message-logo" style="font-size: 35px; color:aqua">&#128172;</span>
                    </div>
                    <div class="message-text">
                        <h5 class="normal-color">There are no questions asked yet. Be the first one to ask a question.
                        </h5>
                    </div>
                </div>
                <div class="questions-div" style="display:none;">
                    <ul>
                        <li style="margin: 5px 0px 5px 0px;">
                            <div class="name-date">
                                <p class="name-date"><span style="font-size: smaller; font-weight:500"><span
                                            class="name" style="color: rgb(131, 131, 243);">Farabi </span> <span
                                            class="date" style="color: rgb(149, 158, 165);"> on March
                                            2024</span></span></p>
                            </div>
                        </li>
                        <li>
                            <div class="q"><span
                                    style="font-family: 'Times New Roman', Times, serif; font-weight:bold">Q: What is
                                    the storage Capacity?</span></div>
                        </li>
                        <li>
                            <div class="a"><span style="font-family: 'Times New Roman', Times, serif;">A: Dear Sir,
                                    amm</span></div>
                        </li>
                        <hr class="li-hr" style="margin-top:10px">
                    </ul>
                </div>
            </div>
        </div>





        <div class="reviews">
            <div class="number-text-button">
                <div class="number-and-text">
                    <div class="number-of-questions" style="border-bottom: 10px; margin-bottom: 10px;">
                        <h3>Reviews (0)</h3>
                    </div>
                    <div class="question-tests">
                        <h5 class="normal-color">Get specific details about this product from customers who own it.</h5>
                    </div>
                </div>
                <div class="review-button ">
                    <form action="/Review/ram">
                        <input type="text" name="ram_id" id="ram_id" value="3" hidden>
                        <button type="submit" class="ask-and-review-button">Write a Review</button>
                    </form>
                </div>
            </div>
            <div class="reviev-rating" style="text-align: center; margin:10px 0px 10px 0px"><span
                    style="font-family: 'Times New Roman', Times, serif; font-size:25px; color:rgb(77, 65, 65)">4.5 out
                    of 5</span></div>
            <hr class="hr">
            <div class="empty-div">
                <div class="message-logo" style="margin:20px 0px 20px 0px"><span class="document-logo" style="font-size: 35px; color:aqua;">&#128196;</span>
                </div>
                <div class="message-text">
                    <h5 class="normal-color">This product has no reviews yet. Be the first one to write a review.
                    </h5>
                </div>
            </div>


            <div class="user-reviews" style="display: none;">
                <ul>
                    <li>
                        <div class="starts" style="font-size: larger; color:rgb(107, 105, 105); margin-bottom:10px">
                            11111</div>
                    </li>
                    <li>
                        <div class="review" style="font-size: 15px;">biwbfuweufweb</div>
                    </li>
                    <li>
                        <div class="from" style="margin-top: 10px; font-size:12px; color:rgb(136, 140, 143)"><span>By
                                <span style="color: rgb(67, 67, 202);">Raimul </span> on 27 Mar 2024</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>