<div id="footerDiv" class="footer">
    <footer class="footer-content">
        <div id="social-icon" class="social-icons">
            <a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="social-link" href="#"><i class="fab fa-instagram"></i></a>
            <a class="social-link" href="#"><i class="fab fa-twitter"></i></a>
            <a class="social-link" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-link" href="#"><i class="fab fa-youtube"></i></a>
            <a class="social-link" href="#"><i class="fab fa-skype"></i></a>
            <a class="social-link" href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>
        <div id="contact-table" class="contact-info">
            <div class="upper-contact">
                <div class="contact-item">
                    <h6 class="contact-title">PC Component</h6>
                    <p class="contact-detail">01778615895</p>
                </div>
                <div class="contact-item">
                    <h6 class="contact-title">For Garget</h6>
                    <p class="contact-detail">01778615895</p>
                </div>
            </div>
            <div class="lower-contact">
                <div class="contact-item">
                    <h6 class="contact-title">Desktop Services</h6>
                    <p class="contact-detail">01778615895</p>
                </div>
                <div class="contact-item">
                    <h6 class="contact-title">Laptop Services</h6>
                    <p class="contact-detail">01778615895</p>
                </div>
            </div>
        </div>
        <div id="branch" class="branches">
            <div class="branch">
                <h2 class="branch-heading">Branch-1</h2>
                <p class="branch-address">Shop 248 #Level 2,Computer City Center,(Multiplan)<br>New Elephant Road,
                    Dhaka-1205, Bangladesh.</p>
            </div>
            <div class="branch">
                <h2 class="branch-heading">Branch-2</h2>
                <p class="branch-address">Shop 248 #Level 2,Computer City Center,(Multiplan)<br>New Elephant Road,
                    Dhaka-1205, Bangladesh.</p>
            </div>
            <div class="branch">
                <h2 class="branch-heading">Branch-3</h2>
                <p class="branch-address">Shop 248 #Level 2,Computer City Center,(Multiplan)<br>New Elephant Road,
                    Dhaka-1205, Bangladesh.</p>
            </div>
            <div class="branch">
                <h2 class="branch-heading">Branch-4</h2>
                <p class="branch-address">Shop 248 #Level 2,Computer City Center,(Multiplan)<br>New Elephant Road,
                    Dhaka-1205, Bangladesh.</p>
            </div>
        </div>

        <div class="about-heading">
            <h1 class="about-heading">ABOUT US</h1>
        </div>

        <div id="aboutUS" class="about-links">

            <a href="#" class="about-link">About Us</a>
            <a href="#" class="about-link">Contact Us</a>
            <a href="#" class="about-link">Delivery</a>
            <a href="#" class="about-link">Privacy Policy</a>
            <a href="#" class="about-link">Terms And Condition</a>
        </div>
        <div class="about-links-mobile">
            <a href="#" class="about-link">Privacy Policy</a>
            <a href="#" class="about-link">Terms And Condition</a>
        </div>
    </footer>
</div>
<div id="copyright" class="copyright">
    <h2 class="copyright-text">Copyright © 2024, PC House, All Rights Reserved</h2>
</div>