<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Gallery</title>

    
    <link rel="stylesheet" href="./homeBeforeSignIn.css">
    <link rel="stylesheet" href="./tailwind.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <%- include ("nav-bar.ejs") %>
    <%- include ("footer.ejs") %>
</body>
</html>
