<!-- public/navbar.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./homeBeforeSignIn.css" />
    <title>Home</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="nav-right" id="signIn"><a href="/signIn">SignIn</a></li>
            <li class="nav-right" id="adminLogIn">
                <a href="/adminLogIn">Admin SignIn</a>
            </li>
        </ul>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./home.js"></script>
</body>

</html>