<!-- public/homeAfterSignIn.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./homeAfterSignIn.css" />
    <title>Home</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="nav-right" id="logOut" onclick="logOut()">Log Out</a></li>
        </ul>
    </nav>

    <script src="./homeAfterSignIn.js"></script>
</body>

</html>