<div class="main-navigation">
    <div class="upper-nav">
       <a href="/"> <div class="logo" style="background-image: url('/images/PcImage.png');">
    </div></a>
        <div class="search-bar-account">
            <div class="search-bar">
                <input type="text" placeholder="Search.." id="search-bar">
            </div>
            <div class="cart">
                <a href="#"><i class="fas fa-shopping-cart"></i> View Cart</a>
            </div>
            <div class="account">
                <a href="#"><i class="fas fa-user"></i> Account</a>
            </div>
            <div class="logOut">
                <a href="#" onclick="isLogOut()"><i class="fas fa-sign-out-alt"></i> log out</a>
            </div>
        </div>
    </div>
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Pc
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Desktop/pc-0-0-0-0-0">All</a>
                <a href="/Desktop/pc-special-0-0-0-0">Special Pc</a>
                <a href="/Desktop/pc-INTEL-0-0-0-0">INTEL</a>
                <a href="/Desktop/pc-Ryzen-0-0-0-0">Ryzen</a>
                <a href="/Desktop/pc-gaming-0-0-0-0">Gaming</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Graphics Card
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Desktop/graphics-card-0-0-0-0-0">All</a>
                <a href="/Desktop/graphics-card-ARKTEK-0-0-0-0">ARKTEK</a>
                <a href="/Desktop/graphics-card-Sapphire-0-0-0-0">Sapphire</a>
                <a href="/Desktop/graphics-card-GIGABYTE-0-0-0-0">GIGABYTE</a>
                <a href="/Desktop/graphics-card-Asus-0-0-0-0">Asus</a>
                <a href="/Desktop/graphics-card-PELADN-0-0-0-0">PELADN</a>
                <a href="/Desktop/graphics-card-NVIDIA-0-0-0-0">NVIDIA</a>
                <a href="/Desktop/graphics-card-Colorful-0-0-0-0">Colorful</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Ram
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Desktop/ram-0-0-0-0-0">All</a>
                <a href="/Desktop/ram-Twinmos-0-0-0-0">Twinmos</a>
                <a href="/Desktop/ram-Colorful-0-0-0-0">Colorful</a>
                <a href="/Desktop/ram-Kimtigo-0-0-0-0">Kimtigo</a>
                <a href="/Desktop/ram-G.SKILL-0-0-0-0">G.SKILL</a>
                <a href="/Desktop/ram-ADATA-0-0-0-0">ADATA</a>
                <a href="/Desktop/ram-PNY-0-0-0-0">PNY</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Brand Pc
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/Desktop/brand-pc-0-0-0-0-0">All</a>
                <a href="/Desktop/brand-pc-MSI-0-0-0-0">MSI</a>
                <a href="/Desktop/brand-pc-Dell-0-0-0-0">Dell</a>
                <a href="/Desktop/brand-pc-Asus-0-0-0-0">Asus</a>
                <a href="/Desktop/brand-pc-HP-0-0-0-0">HP</a>
                <a href="/Desktop/brand-pc-Acer-0-0-0-0">Acer</a>
                <a href="/Desktop/brand-pc-Lenovo-0-0-0-0">Lenovo</a>
            </div>
        </div>
        
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</div>

<script>
    function isLogOut(){
        if(confirm('Do you want to log out?')){
            window.location.href = '/logOut';
        }
    }
</script>