<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/Home.User/homeBeforeSignIn.css" />
    <link rel="stylesheet" href="/Footer/footer.css">
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <a href="/">Pc Gallery</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                        <a href="/Desktop/pc-0-0-0-0-0">PC</a>
                        <div class="dropdown-content">
                            <a href="/Desktop/pc-special-0-0-0-0">Special Pc</a>
                            <a href="/Desktop/pc-INTEL-0-0-0-0">INTEL</a>
                            <a href="/Desktop/pc-Ryzen-0-0-0-0">Ryzen</a>
                            <a href="/Desktop/pc-gaming-0-0-0-0">Gaming</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="/Desktop/graphics-card-0-0-0-0-0">Graphics Card</a>
                        <div class="dropdown-content">
                            <a href="/Desktop/graphics-card-ARKTEK-0-0-0-0">ARKTEK</a>
                            <a href="/Desktop/graphics-card-Sapphire-0-0-0-0">Sapphire</a>
                            <a href="/Desktop/graphics-card-GIGABYTE-0-0-0-0">GIGABYTE</a>
                            <a href="/Desktop/graphics-card-Asus-0-0-0-0">Asus</a>
                            <a href="/Desktop/graphics-card-PELADN-0-0-0-0">PELADN</a>
                            <a href="/Desktop/graphics-card-NVIDIA-0-0-0-0">NVIDIA</a>
                            <a href="/Desktop/graphics-card-Colorful-0-0-0-0">Colorful</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="/Desktop/ram-0-0-0-0-0">Ram</a>
                        <div class="dropdown-content">
                            <a href="/Desktop/ram-Twinmos-0-0-0-0">Twinmos</a>
                            <a href="/Desktop/ram-Colorful-0-0-0-0">Colorful</a>
                            <a href="/Desktop/ram-Kimtigo-0-0-0-0">Kimtigo</a>
                            <a href="/Desktop/ram-G.SKILL-0-0-0-0">G.SKILL</a>
                            <a href="/Desktop/ram-ADATA-0-0-0-0">ADATA</a>
                            <a href="/Desktop/ram-PNY-0-0-0-0">PNY</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="/Desktop/brand-pc-0-0-0-0-0">Brand PC</a>
                        <div class="dropdown-content">
                            <a href="/Desktop/brand-pc-MSI-0-0-0-0">MSI</a>
                            <a href="/Desktop/brand-pc-Dell-0-0-0-0">Dell</a>
                            <a href="/Desktop/brand-pc-Asus-0-0-0-0">Asus</a>
                            <a href="/Desktop/brand-pc-HP-0-0-0-0">HP</a>
                            <a href="/Desktop/brand-pc-Acer-0-0-0-0">Acer</a>
                            <a href="/Desktop/brand-pc-Lenovo-0-0-0-0">Lenovo</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Sign Up or Log In</a>
                        <div class="dropdown-content">
                            <a href="/signIn">Sign In</a>
                            <a href="/adminLogIn">Admin Sign In</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <!-- Your content goes here -->
    </div>
    <%- include ("../Footer/footer.ejs") %>
</body>
</html>